body {
    background-color: #0e3560;
}

.backgroundImage {
    width: 100%;

    position: fixed;
    top: -40px;
}

/* ---------------------------------------- */
/* Game Container 1 */
.gameContainer1 {
    width: 760px;
    height: 590px;

    border-radius: 10px;

    background-color: #0e3560;

    opacity: .8;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-380px, 0px);
}

.gameTitleContainer {
    color: gold;
    text-align: center;

    position: relative;
    top: 15px;
}

.gameInstructionsContainer {
    width: 700px;
    height: 310px;

    padding: 0px 20px 0px 20px;

    color: white;
    line-height: 1.2;

    position: relative;
    top: 20px;
}

/* ---------------------------------------- */
/* Game Container 2 */
.gameContainer2 {
    width: 660px;
    height: 280px;

    border-radius: 10px;

    background-color: white;

    position: fixed;
    top: 310px;
    left: 50%;
    transform: translate(-330px, 0px);
}

.computerScoreContainer {
    width: 200px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;

    color: black;
    background-color: gold;
}

.userTotalScoreContainer {
    width: 200px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: black;
    background-color: gold;
}

.youWinYouLoseContainer {
    width: 200px;
    height: 70px;

    padding: 11px 0px 0px 12px;
    border: 1px solid #a1a1a1;
    margin: 10px;
    
    color: black;
    background-color: rgb(29, 233, 202);
    font-size: 30px;

    position: relative;
    top: -80px;
    left: 220px;
}

.userWinContainer {
    width: 200px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;

    position: relative;
    top: -160px;
    left: 440px;
}

.userLossContainer {
    width: 200px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;

    position: relative;
    top: -160px;
    left: 440px;
}

.imagesForGemsContainer {
    margin: 10px;

    cursor: pointer;
    outline: 0;

    position: absolute;
    top: 80px;
    left: 35px;
}

.gemImage {
    margin: 10px;
}

.reloadBrowserButton {
    width: 240px;
    height: 30px;

    padding: 0px 0px 3px 0px;
    border: 0;
    border-radius: 10px;
    margin: 10px;

    color: white;
    background-color: #0e3560;
    text-align: center;

    cursor: pointer;

    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-130px, 0px);
}

.reloadBrowserButton:focus {outline:0;}
