body {
    background-color: #0e3560;
}

.backgroundImage {
    width: 100%;

    position: fixed;
    top: -40px;
}

.gameOuterContainer {
    width: 700px;
    height: 700px;

    border-radius: 10px;

    background-color: #0e3560;

    opacity: 0.9;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-350px, 0px);
}

.gameTitleContainer {
    color: gold;
    text-align: center;

    position: relative;
    top: 15px;
}

.gameInstructionsContainer {
    width: 700px;
    height: 310px;

    padding: 0px 20px 0px 20px;

    color: white;

    position: relative;
    top: 20px;
}

.gameInnerContainer {
    width: 760px;
    height: 600px;

    border-radius: 10px;

    background-color: white;

    position: absolute;
    top: 340px;
    left: 20px;
}

.computerScoreContainer {
    width: 180px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;

    color: black;
    background-color: gold;
}

.userTotalScoreContainer {
    width: 180px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: black;
    background-color: gold;
}

.youWinYouLoseContainer {
    width: 180px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: #0e3560;
}

.userWinContainer {
    width: 180px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;
}

.userLossContainer {
    width: 180px;
    height: 30px;

    padding: 3px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;
}

.imagesForGemsContainer {
    margin: 10px;

    cursor: pointer;
    outline: 0;
}

.gemImage {
    margin: 10px;
}

.reloadBrowserButton {
    width: 240px;
    height: 30px;

    border: 0;
    margin: 10px;

    color: white;
    background-color: #0e3560;
    text-align: center;

    cursor: pointer;
    
}

.reloadBrowserButton:focus {outline:0;}
