body {
    background-color: #0e3560;
}

.backgroundImage {
    width: 100%;

    position: fixed;
    top: -40px;
}

/* ---------------------------------------- */
/* Game Container 1 */
.gameContainer1 {
    width: 760px;
    height: 605px;

    border-radius: 10px;

    background-color: #0e3560;

    opacity: .9;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-380px, 0px);
}

.gameTitleContainer {
    color: gold;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;

    position: relative;
    top: 20px;
}

.gameInstructionsContainer {
    width: 700px;
    height: 310px;

    padding: 0px 20px 0px 20px;

    color: white;
    font-family: 'Noto Serif', serif;
        /* 
        Available Google fonts
            font-family: 'Lobster', cursive;
            font-family: 'Merriweather', serif;
            font-family: 'Noto Serif', serif;
            font-family: 'Bitter', serif;
        */
    font-size: 16px;
    line-height: 1.2;

    position: relative;
    top: 40px;
}

/* ---------------------------------------- */
/* Game Container 2 */
.gameContainer2 {
    width: 720px;
    height: 295px;

    border-radius: 10px;

    background-color: white;

    position: fixed;
    top: 310px;
    left: 50%;
    transform: translate(-360px, 0px);
}

.computerScoreContainer {
    width: 200px;
    height: 30px;

    padding: 14px 0px 0px 8px;
    margin: 10px;

    color: black;
    background-color: gold;
    font-family: 'Noto Serif', serif;
    font-size: 16px;

    position: absolute;
    left: 0px;
    top: 0px;
}

.userTotalScoreContainer {
    width: 200px;
    height: 30px;

    padding: 14px 0px 0px 8px;
    margin: 10px;
    
    color: black;
    background-color: gold;
    font-family: 'Noto Serif', serif;
    font-size: 16px;

    position: absolute;
    left: 0px;
    top: 50px;
}

.youWinYouLoseContainer {
    width: 210px;
    height: 63px;

    padding: 32px 0px 0px 0px;
    /*
    border: 1px solid #cecece;
    */
    margin: 10px;
    
    color: black;
    /*
    background-color: rgb(29, 233, 202);
    */
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    text-align: center;

    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-117px, 0px);
}

.userWinContainer {
    width: 200px;
    height: 30px;

    padding: 14px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;
    font-family: 'Noto Serif', serif;
    font-size: 16px;

    position: absolute;
    top: 0px;
    right: 0px;
}

.userLossContainer {
    width: 200px;
    height: 30px;

    padding: 14px 0px 0px 8px;
    margin: 10px;
    
    color: white;
    background-color: salmon;
    font-family: 'Noto Serif', serif;
    font-size: 16px;

    position: absolute;
    top: 50px;
    right: 0px;
}

.imagesForGemsContainer {
    margin: 10px;

    cursor: pointer;
    outline: 0;

    position: absolute;
    top: 100px;
    left: 65px;
}

.gemImage {
    margin: 10px;
}

.reloadBrowserButton {
    width: 240px;
    height: 30px;

    padding: 0px 0px 3px 0px;
    border: 0;
    border-radius: 10px;
    margin: 10px;

    color: white;
    background-color: #0e3560;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    text-align: center;

    cursor: pointer;

    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-130px, 0px);
}

/*
.reloadBrowserButton:hover {
    color: black;
    background-color: rgb(29, 233, 202);
}
*/

.reloadBrowserButton:focus {
    outline:0;
}

/**/
